{
  "BASE_URL": "https://www.ojstest.net/test",
  "BASE_URL_ADMIN": "https://www.ojstest.net/test",
  "BACKEND_USERNAME": "editor",
  "BACKEND_PASSWORD": "Editor.328ze423bnds",
  "ADMIN_USERNAME": "admin",
  "ADMIN_PASSWORD": "lsdkfDSFo39223u+UBzh."
}